snippet if "algopseudo if block" b
\If{$1}
	$2
\EndIf$0
endsnippet

snippet for "algoseudo for block" b
\For{$1}
	$2
\EndFor$0
endsnippet

snippet st "algoseudo new line" b
\State $1
endsnippet

snippet while "algoseudo while block" b
\While{$1}
	$2
\EndWhile$0
endsnippet
